@charset "utf-8";
@import url(templates.css);
/* Cliente: Projeto:
 -------------- PADRÕES DE CODIGO - Frameworks FED v4.2 --------------
 Nossos projetos são desenvolvidos de acordo com um padrão de escrita. Mais informações sobre ele em: www.webstandards.blog.br e www.frontenddevelopment.com.br
*/
/* -------------- BIBLIOTECA DE CLASSES --------------
*/
/* ------- PALETA DE CORES ------- */
/* ------- CLASSES E MIXINS ------- */
/* -------------- ELEMENTOS e CLASSES --------------
*/
/* ------- ELEMENTOS ------- */
/* reset */
/* line 3, ../sass/_reset.scss */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, menu, form, fieldset, legend, button, figure, section, summary { margin: 0; padding: 0; }

/* line 4, ../sass/_reset.scss */
article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 5, ../sass/_reset.scss */
button, fieldset, iframe, img { border: 0; }

/* line 6, ../sass/_reset.scss */
input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; }

/* line 7, ../sass/_reset.scss */
details summary::-webkit-details-marker { display: none; }

/* line 33, ../sass/geral.scss */
html { font: 100% Arial, Helvetica, sans-serif; color: black; }

/* line 34, ../sass/geral.scss */
body { background-color: white; font-size: 0.75em; }

/* formulário */
/* line 3, ../sass/_form.scss */
form { /* mensagem de erro */ /* margin left de alinhamento com os campos */ }
/* line 7, ../sass/_form.scss */
form #instrucoes-formulario { padding: 1.66em 0; }
/* line 8, ../sass/_form.scss */
form #instrucoes-formulario p { margin-bottom: .83em; }
/* line 9, ../sass/_form.scss */
form #instrucoes-formulario p:last-child { margin-bottom: 0; }
/* line 13, ../sass/_form.scss */
form ol, form ul { list-style: none; }
/* line 15, ../sass/_form.scss */
form ol { /* label */ /* label interno */ /* listas internas */ }
/* line 16, ../sass/_form.scss */
form ol li { margin-bottom: .41em; padding: .41em 0; }
/* line 21, ../sass/_form.scss */
form ol label, form ol p, form ol ol li:first-child label { float: left; width: 100px; padding-right: 10px; line-height: 2em; text-align: right; }
/* line 26, ../sass/_form.scss */
form ol li li label, form ol p.erro, form ol li.confirmacao label { float: none; width: auto; padding-right: 0; text-align: left; }
/* line 27, ../sass/_form.scss */
form ol ul li label { margin-right: 0; }
/* line 32, ../sass/_form.scss */
form ol ol, form ol ul, form ol li li { display: inline-block; vertical-align: top; }
/* line 33, ../sass/_form.scss */
form ol li li { margin: 0 10px 0 0; padding: 0; }
/* line 37, ../sass/_form.scss */
form ol p.erro { display: block; }
/* line 39, ../sass/_form.scss */
form p.erro, form ol li.erro { color: #e33; }
/* line 40, ../sass/_form.scss */
form li.erro { border-radius: 3px; }
/* line 43, ../sass/_form.scss */
form li.erro, form input.erro, form textarea.erro { background-color: #f7cac9; }
/* line 44, ../sass/_form.scss */
form ol li li p.erro { margin-left: 0; }
/* line 51, ../sass/_form.scss */
form #instrucoes-formulario, form ol li p.erro, form ol ol li:first-child p.erro, form ol li.confirmacao label, form button { margin-left: 110px; }

/* ------- CLASSES ------- */
/* popup */
/* line 44, ../sass/geral.scss */
.popup { display: none; position: absolute; z-index: 10; }

/* line 48, ../sass/geral.scss */
.pelicula { position: absolute; z-index: 9; }

/* botões */
/* line 51, ../sass/geral.scss */
.botao { display: inline-block; text-decoration: none; }

/* line 55, ../sass/geral.scss */
button.botao::-moz-focus-inner { border: 0; padding: 0; }

/* paginação */
/* line 59, ../sass/geral.scss */
.paginacao li { display: inline-block; }

/* -------------- ESTRUTURA --------------
*/
/* ------- TOPO ------- */
/* ------- CONTEÚDO ------- */
/* line 81, ../sass/geral.scss */
.conteudo { /* coluna1 */ /* coluna2 */ }

/* ------- RODAPÉ ------- */
