@charset "utf-8";
@import url(mobile-templates.css);
/* -------------- MOBILE - Dispositivos com largura ate 640px --------------
*/
/* -------------- BIBLIOTECA DE CLASSES --------------
*/
/* ------- PALETA DE CORES ------- */
/* ------- CLASSES E MIXINS ------- */
/* -------------- ELEMENTOS e CLASSES --------------
*/
/* ------- ELEMENTOS ------- */
/* formulário */
/* line 28, ../sass/mobile.scss */
form ol { /* label */ }
/* line 32, ../sass/mobile.scss */
form ol label, form ol p, form ol ol li:first-child label { display: block; float: none; width: auto; padding-right: 0; text-align: left; }
/* line 36, ../sass/mobile.scss */
form ol li p.erro, form ol ol li:first-child p.erro, form ol li.confirmacao label { margin-left: 0; }
/* line 40, ../sass/mobile.scss */
form #instrucoes_formulario, form button { margin-left: 0; }

/* ------- CLASSES ------- */
/* -------------- ESTRUTURA --------------
*/
/* ------- TOPO ------- */
/* ------- CONTEÚDO ------- */
/* line 61, ../sass/mobile.scss */
.conteudo { /* coluna1 */ /* coluna2 */ }

/* ------- RODAPÉ ------- */
