@charset "utf-8";

/*
	--------------
	MOBILE - Screens until 640px
	--------------
*/


@import "elements"; // class library with main styles
@import "desktop-pages.css"; // styles specific the pages


/*
	--------------
	ELEMENTS and CLASS
	--------------
*/


/* ------- ELEMENTS ------- */

	/* form */
	form {
		ol {
			/* label */
			label,
			p,
			ol li:first-child label { display: block; float: none; width: auto; padding-right: 0; text-align: left; }

			li p.erro,
			ol li:first-child p.erro,
			li.confirmacao label { margin-left: 0; }
		} // ol

		#form-instructions,
		button { margin-left: 0; }
	} // form


/* ------- CLASS ------- */
.wrapper {}


/*
	--------------
	STRUCTURE
	--------------
*/

	@if $degub != false {
		body:before { content: "mobile: 640"; box-shadow: black -1px -1px 1px; }
	}


/* ------- PAGE HEADER ------- */
.page-header {
} // .page-header


/* ------- PAGE CONTENT ------- */
.page-content {

	/* main-content */
	.main-content {
	} // .main-content

	/* sidebar */
	.sidebar {
	} //.sidebar

} // .page-content


/* ------- PAGE FOOTER ------- */
.page-footer {
} // .page-footer

