@charset "utf-8";

/*
  --------------
  BIBLIOTECA DE CLASSES
  --------------
*/


/* ------- PALETA DE CORES ------- */
$cor_textos: #000; // textos de conteúdo
$cor_body: #fff; // cor do fundo do site
$tamanho_textos: 12; // tamanho da fonte: 12px


/* ------- CLASSES ------- */

  /* alinhamentos */
  .direita { float: right; }
  .esquerda { float: left; }
  p {
    &.direita,
    &.esquerda { float: none; }
    &.direita { text-align: right; }
    &.esquerda { text-align: left; }
  }
  .centro { text-align: center; }

  // image replacement
  .rpl { font: 0/0 a !important; color: transparent !important; }

    @mixin rpl($width, $height, $image, $display: null) {

      @if $display == block { display: block; }

      width: $width;
      height: $height;
      background: image-url('#{$image}') no-repeat;
      @extend .rpl;
    }

  // quebra texto em linhas (palavras grandes)
  .wrap {
    text-wrap: wrap;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
  }

  // conversão de font-size
  @function em($size:$tamanho_textos) {
    @return #{$size / $tamanho_textos}em;
  }

  // transition para todas propriedades
  .transition {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }