@charset "utf-8";

/*
  Cliente:
  Projeto:

  --------------
  PADRÕES DE CODIGO - Frameworks FED v4
  --------------

  Nossos projetos são desenvolvidos de acordo com um padrão de escrita.
  Mais informações sobre ele em: www.webstandards.blog.br e www.frontenddevelopment.com.br
*/


// @import "fontes"; // estilos web fonts
@import "elementos"; // biblioteca de classes com estilos gerais
@import "templates.css"; // estilos específicos dos templates


/*
  --------------
  ELEMENTOS e CLASSES
  --------------
*/


/* ------- ELEMENTOS ------- */

  /* reset */
  @import "reset";

  html { font: 100% Arial, Helvetica, sans-serif; color: $cor_textos; }
  body { background-color: $cor_body; font-size: #{$tamanho_textos/16}em; }


  /* formulário */
  form {
    $largura_label: 100px;
    $padding_right_label: 10px;

    #instrucoes-formulario { padding: 1.66em 0;
      p { margin-bottom: .83em;
        &:last-child { margin-bottom: 0; }
      }
    }

    ol, ul { list-style: none; }

    ol {
      li { margin-bottom: .41em; padding: .41em 0; }

      /* label */
      label,
      p,
      ol li:first-child label { float: left; width: $largura_label; padding-right: $padding_right_label; line-height: 2em; text-align: right; }

      /* label interno */
      li li label,
      p.erro,
      li.confirmacao label { float: none; width: auto; padding-right: 0; text-align: left; }
      ul li label { margin-right: 0; }

      /* listas internas */
      ol,
      ul,
      li li { display: inline-block; vertical-align: top; }
      li li { margin: 0 10px 0 0; padding: 0; }
    }

    /* mensagem de erro */
    ol p.erro { display: block; }
    p.erro,
    ol li.erro { color: #e33; }
    li.erro { border-radius: 3px; }
    li.erro,
    input.erro,
    textarea.erro { background-color: #f7cac9; }
    ol li li p.erro { margin-left: 0; }

    /* margin left de alinhamento com os campos */
    #instrucoes-formulario,
    ol li p.erro,
    ol ol li:first-child p.erro,
    ol li.confirmacao label,
    button { margin-left: $largura_label + $padding_right_label; }
  } // form

  // correções ie

  /* linhas */
  .lt-ie7 form ol li { height: 1%; overflow: hidden; }

  /* listas internas */
  .lt-ie8 {
    form {
      ol {
        ol,
        ul,
        li li { display: inline; }
      }
    }
  } // .lt-ie8

  /* mensagem de erro */
  .lt-ie7 form ol p.erro { display: inline; float: left; }


/* ------- CLASSES ------- */

  /* paginação */
  .paginacao {
    li { display: inline-block;
      a[rel="prev"], a[rel="next"] {
        &:hover {
        }
      } // a
    } // li
  } // .paginacao

  /* popup */
  .popup {
    display: none; position: absolute; z-index: 10;
    a.fechar {  }
  } // .popup
  .pelicula { position: absolute; z-index: 9; }

  /* botões */
  .botao,
  .botao strong { display: inline-block; background: url(../images/botao.png) no-repeat; line-height: 25px; text-decoration: none; }
  .botao { padding-left: 10px;
    strong { padding-right: 10px; background-position: right 0; font-weight: normal; }
    &:hover {
      background-position: 0 0;
      strong { background-position: right 0; }
    }
  } // .botao
  button.botao::-moz-focus-inner { border: 0; padding: 0; }


/*
  --------------
  ESTRUTURA
  --------------
*/


/* ------- TOPO ------- */
.topo {
} // .topo


/* ------- CONTEÚDO ------- */
.conteudo {

  /* coluna1 */
  .coluna1 {
  } // .coluna1

  /* coluna2 */
  .coluna2 {
  } //.coluna2

} // .conteudo


/* ------- RODAPÉ ------- */
.rodape {
} // .rodape


