@charset "utf-8";

/*
  --------------
  PÁGINAS ESPECÍFICAS
  --------------
*/


@import "elementos"; // biblioteca de classes com estilos gerais


/* ------- PÁGINA INICIAL ------- */
#inicial {
} // #inicial