@charset "utf-8";

	form {
		$label_width: 100px;
		$label_padding_right: 10px;

		#form-instructions { padding: 1.66em 0;
			p { margin-bottom: .83em;
				&:last-child { margin-bottom: 0; }
			}
		}

		ol, ul { list-style: none; }

		ol {
			li { margin-bottom: .41em; padding: .41em 0; }

			/* label */
			label,
			p,
			ol li:first-child label { float: left; width: $label_width; padding-right: $label_padding_right; line-height: 2em; text-align: right; }

			/* internal label */
			li li label,
			p.error,
			li.confirm label { float: none; width: auto; padding-right: 0; text-align: left; }
			ul li label { margin-right: 0; }

			p.info { float: none; width: auto; padding-right: 0; text-align: left; }

			/* internal lists */
			ol,
			ul,
			li li { display: inline-block; vertical-align: top; }
			li li { margin: 0 10px 0 0; padding: 0; }
		}

		/* error message */
		ol p.error { display: block; }
		p.error,
		ol li.error { color: #e33; }
		li.error { border-radius: 3px; }
		li.error,
		input.error,
		textarea.error { background-color: #f7cac9; }
		ol li li p.error { margin-left: 0; }

		/* align fields with margin left */
		#form-instructions,
		ol li p.error,
		ol ol li:first-child p.error,
		ol li.confirm label,
		ol li p.info,
		button { margin-left: $label_width + $label_padding_right; }
	} // form

