@charset "utf-8";

/*
  Cliente: 
  Projeto: 

  --------------
  PADRÕES DE CODIGO - Frameworks FED v5
  --------------

  Nossos projetos são desenvolvidos de acordo com um padrão de escrita.
  Mais informações sobre ele em: www.webstandards.blog.br e www.frontenddevelopment.com.br
*/


// @import "fontes"; // estilos web fonts
@import "elementos"; // biblioteca de classes com estilos gerais
@import "templates.css"; // estilos específicos dos templates
@import "../js/libs/bxslider/bxslider.css"; // estilos bxslider


/*
  --------------
  ELEMENTOS e CLASSES
  --------------
*/


/* ------- ELEMENTOS ------- */

  /* reset */
  @import "reset";

  html { font: 100% Arial, Helvetica, sans-serif; color: $cor_textos; }
  body { background-color: $cor_body; font-size: #{$tamanho_textos/16}em; }

  @if $degub != false {
    body:before { position: absolute; z-index: 11; padding: 5px; box-shadow: rgba(255,0,0,.3) 1px 1px 1px; background: #fff; }
  }


  /* formulário */
  @import "form";


/* ------- CLASSES ------- */

  /* popup */
  .popup { visibility: hidden; position: absolute; z-index: 10; font-size: em(14);
    a.fechar {  }
  } // .popup
  .pelicula { position: absolute; z-index: 9; }

  /* botões */
  .botao { display: inline-block; text-decoration: none;
    &:hover {
    }
  } // .botao
  // button.botao::-moz-focus-inner { border: 0; padding: 0; }

  /* paginação */
  .paginacao {
    li { display: inline-block;
      a[rel="prev"], a[rel="next"] {
        &:hover {
        }
      } // a
    } // li
  } // .paginacao

  /* galeria */
  .bx-wrapper { border: 1px solid red; }


/*
  --------------
  ESTRUTURA
  --------------
*/


/* ------- TOPO ------- */
.topo { padding-top: 40px;
  // h1 { width: 100px; height: 100px; border: 1px solid red; background: image-url('imagem-usuario.png') no-repeat; @include th; }
  h1 { margin-bottom: 40px; @include ir('imagem-usuario.png', true, false, false, true);
    // &:hover { background-position: right bottom; }
  }

  a.botao-enviar { border: 1px solid red; @include ir('botao-enviar.png', true, false, false, true); }

} // .topo


/* ------- CONTEÚDO ------- */
.conteudo {

  .teste { margin-bottom: 100px; padding-top: 100px;
    ul {
      li { display: inline-block; width: 200px; margin-bottom: 3px; border: 1px solid red; text-align: center; }
    }
  }

  table { margin-bottom: 120px;
    th { width: 200px; }
    th, td { border: 1px solid red; text-align: center; }
  }

  /* coluna1 */
  .coluna1 { float: left; background-color: blue;
  } // .coluna1

  /* coluna2 */
  .coluna2 { background-color: green; float: right;
  } //.coluna2

  .texto { margin-bottom: 40px; @include cf; border: 1px solid red; }


  ul.exemplo1 { text-align: center; border: 1px solid red; list-style: none; @include dibc; @include grad(#f9f9f9,#ffcc99);
    li { width: 100px; height: 100px; border: 1px solid red; @include dibi; }
  }


} // .conteudo


/* ------- RODAPÉ ------- */
.rodape { padding-bottom: 400px;

  ul.redes-sociais { list-style: none; @include cf;


    // @import "redes/*.png";
    // @include all-redes-sprites;

    // li { float: left; border: 1px solid red; width: 32px; height: 32px;

    //   &.facebook { @extend .redes-facebook; }
    //   &.twitter { @extend .redes-twitter; }
    //   &.blogger { @extend .redes-blogger; }
    //   &.playstation { @extend .redes-playstation; }
    //   &.wordpress { @extend .redes-wordpress; }

    //   a { display: block; width: 100%; height: 100%; @include th; }
    // } // li


    @import "redes/*.png";

      li { float: left; width: 32px; height: 32px;

        a { display: block; width: 100%; height: 100%; @include th; }
    
        @each $redes in facebook, twitter, blogger, wordpress, playstation {
          &.#{$redes} {
    
            @include redes-sprite(#{$redes});
    
          } // &.#{$redes}
        } // @each

      } // li

  } // ul.redes-sociais




} // .rodape


